/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    
}

p {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.7em;
  
}


.tnavwidth{
    width: 150px; 
    margin-left:15px
}

    

/* a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
} */
/* .top-nav{
    background: #12d4d4 !important;
    color: white !important;
} */

.navbar {
    /* padding: 15px 10px; */
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 5px;
    color: #000;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    padding: 0px !important;
}

.navbar-nav li a {
    /* padding: 15px 10px; */
  color: #000;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    /* display: flex; */
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}


#sidebar {
    /* margin-left: 15PX; */
    /* height: 750px; */
    min-width: 150px;
    max-width: 150px;
    /* background:light; */
    color:black;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
}

.sidebar-toggle {
    display: inline-block;
    width: 200px;
    /* padding: 20px; */
    background: hsl(227, 44%, 92%);
}

/* .martest{
    margin-left:150px;
} */


#sidebar.active {
    margin-left: -90px;
    transform: rotateY(100deg);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: hsl(228, 74%, 88%);
}

#sidebar ul.components {
    /* padding: 0 0 10px 0; */
    padding-top: 10px;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    width: 130px;
    color: #000;
    margin-left: 5px;
    padding: 5px;
    font-size: .9em;
    display: block !important;
}
.droplist a {
    width: 120px;
    margin-left: 5px;
    margin-right: 20px;
    padding: 5px;
    font-size: .9em;
    display: block;
}

#sidebar ul li a:hover {
    color: #8c99cf;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: rgb(104, 121, 131);
}


a[data-toggle="collapse"] {
    position: relative;
}

/* .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
} */

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    border-radius: 5px;
    background: hsl(220, 15%, 92%);
}
/* 
ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
} */

/* a.download {
    background: #fff;
    color: #7386D5;
}

a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
} */



.hilight{
    font-weight: 500;
    /* color: black; */

} 

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    /* padding: 20px;
    min-height: 100vh; */
    transition: all 0.3s;
}

#sidebarCollapse {
    /* width: 25px;
    height: 25px;
    background: #d0e2ec;
    cursor: pointer;
    border-radius: 2px; */
    display: none;
}

#sidebarCollapse span {
    width: 50%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(90deg) translate(2px, 7px);
}
#sidebarCollapse span:nth-of-type(2) {
    transform: rotate(90deg) translate(0px, -1px);
 
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-90deg) translate(2px, 9px);

}


#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}

@media only screen and (max-width: 768px) {
   
    /* .martest{
        margin-left:0px;
        width: 500px;
    } */
    /* .sidesm{
        width: 80px;
    }
    .contentsm{
        width: 300px;
        margin-left:20px;
    } */
   #sidebar ul li a{
    width: 100px;
    color: #000;
    padding: 2px;
    font-size: .7em;
    display: block !important;
    }



    /* #sidebar {
      
        min-width: 100px;
        max-width: 100px;
        color:black;
        transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
        transform-origin: bottom left;
    } */
  
   

    }

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

  
@media (max-width: 768px) {
    .tnavwidth{
        width:120px; 
        font-size: 11px;
        margin-left:5px;
       
        
    }
    #sidebarCollapse {
        width: 37px;
        height: 37px;
        display: block;
        background: #3da9e7;
        cursor: pointer;
        border-radius: 5px;
    }
    .btn-dark{
        /* margin-left: 600px; */
        /* display: none !important; */
        margin-left: -50px !important;
    }


    #sidebar {
        margin-left: 900px;
        transform: rotateY(90deg);
        display: none;
    }
    #sidebar.active {
        margin-left: 0;
        display: block;
        transform: none;
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(90deg) translate(2px, 7px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        transform: rotate(90deg) translate(0px, -1px);

    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-90deg) translate(2px, 9px);
    }
    .adds{
        display: none ;
    }

}


/* TOPNAVBAR Dropdown hover*/
/* Dropdown Button */
.dropbtn {
    background-color:lightblue;
    color:black;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    border: none;
    margin-left: 15px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

  /* card css start */
  .thumbnail {
    position: relative;
    padding: 0px;
    /* margin-bottom: 20px; */
    width:220px
}
.thumbnail img {
    width: 100%;
}
.thumbnail .caption{
    margin: 7px;
}
.main-section{
    background-color: #F8F8F8;
}
.dropdown{
    float:right;
    padding-right: 30px;
}
.btn{
    border:0px;
    margin:10px 0px;
    box-shadow:none !important;
}
.dropdown .dropdown-menu{
    padding:20px;
    top:30px !important;
    width:350px !important;
    left:-110px !important;
    box-shadow:0px 5px 30px black;
}
.total-header-section{
    border-bottom:1px solid #d2d2d2;
}
.total-section p{
    margin-bottom:20px;
}
.cart-detail{
    padding:15px 0px;
}
.cart-detail-img img{
    width:100%;
    height:100%;
    padding-left:15px;
}
.cart-detail-product p{
    margin:0px;
    color:#000;
    font-weight:500;
}
.cart-detail .price{
    font-size:12px;
    margin-right:10px;
    font-weight:500;
}
.cart-detail .count{
    color:#C2C2DC;
}
.checkout{
    border-top:1px solid #d2d2d2;
    padding-top: 15px;
}
.checkout .btn-primary{
    border-radius:50px;
    height:50px;
}
.dropdown-menu:before{
    content: " ";
    position:absolute;
    top:-20px;
    right:50px;
    border:10px solid transparent;
    border-bottom-color:#fff;
}

@media (max-width: 768px) {
.smallcart{
    /* text-align:center center ; */
    /* margin: 0 auto !important; */
     margin-left:65px; 
}
#smalltopnav{
    display: block !important;
    }
}



#smalltopnav{
    margin-right: 150px; display:flex;
}

/* sidbar zoom button css .start */
.glow-on-hover {
    width: 120px;
    height: 20px;
    border: none;
    outline: none;
    color: #fff;
    background: rgb(55, 145, 103);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 8px;
    font-size: 11px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 300%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(57, 160, 179);
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
/* sidbar zoom button css .end */

/* carousel start */
/* .carousel{
    margin-top: 50px;
  }
  .carousel-inner{
    height: 100px;
  }
  .carousel-caption{
    color: #fff;
    top: 50%;
  } */
  .carousel-control-prev-icon{
      background-color: #EEEEEE;
  }
  .carousel-control-next-icon{
      background-color: #EEEEEE;
  }
  
  /* notificaton */
  .notification {
    background-color: #555;
    color: white;
    text-decoration: none;
    padding: 2px ;
    position: relative;
    display: inline-block;
    border-radius: 2px;
  }
  
  .notification:hover {
    background: red;
  }
  
  .notification .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background: red;
    color: white;
  }
  
  
  